---
import type { Group, Student } from "@/lib/database";
import StudentImage from "./StudentImage.astro";

interface Props {
  student: Student;
  group?: Group;
  class?: string;
  hideName?: boolean;
  hideGroup?: boolean;
}
const { student, group, class: cardClass, hideName, hideGroup } = Astro.props;
---

<a
  href={`/students/${student.id}`}
  class={"card shadow max-w-lg " + (cardClass || "")}
>
  <figure>
    <StudentImage src={student.image} gender={student.gender} />
  </figure>
  {
    !hideName || (!hideGroup && group) ? (
      <div class={"card-body " + (hideGroup && "items-center")}>
        {!hideName && (
          <h2 class="card-title">
            {student.name} {student.lastName}
          </h2>
        )}
        {group && !hideGroup && (
          <p>
            Clase: {group.year}
            {group.letter}
          </p>
        )}
      </div>
    ) : null
  }
</a>
