---
import type { Group, Student } from "@/lib/database";
import StudentImage from "./StudentImage.astro";

interface Props {
  student: Student;
  group?: Group;
  class?: string;
}
const { student, group, class: cardClass } = Astro.props;
---

<a href={`/students/${student.id}`}>
  <div class={`flex items-center gap-4 p-4 border rounded-lg ${cardClass}`}>
    <StudentImage
      gender={student.gender}
      src={student.image}
      class="w-16 h-16 rounded-full object-cover"
    />
    <div>
      <h2 class="font-heading text-lg font-semibold">
        {student.name}
        {student.lastName}
      </h2>
      {
        group && (
          <p class="text-sm text-gray-500">
            {" "}
            Grupo: {group.year}
            {group.letter}
          </p>
        )
      }
    </div>
  </div>
</a>
